<table *ngIf="pages.length" class="table is-striped">

    <thead>

        <tr>
      <th>Title</th>
      <th>Count</th>
      <th>Snippet</th>

        </tr>

    </thead>
    <tbody>
     <tr *ngFor="let res of pages">

        <td >
            <a target="_blank" [href]=" 'https://en.wikipedia.org/?curid='+res.pageid ">
            <td>{{res.title}}</td>

            </a>
        <td>{{res.wordcount}}</td>
        <!-- <td>{{res.snippet}}</td> -->
        <td [innerHTML]="res.snippet"></td>

     </tr>
    
    </tbody>
</table>